body{
  margin: 0;
}

#container{
  display:flex;
  flex-wrap: wrap;
}

#service1{
  width: 75%;
}

#reviews{
  margin-top: 100px;
  margin-bottom: 200px;
  width: 75%;
  display:flex;
  justify-content: center;
}

#service4{
  width: 21%;
  position: sticky;
  top: 0;
  padding-left: 3%;
  padding-top: 1%;
  border-left: 2px solid rgb(238,240,241);
  align-self: flex-start;
  height: 100vh;
  z-index: -1;
}

#footer{
  width: 100%
}

#headerContainer{
  border-bottom: 2px solid rgb(238,240,241);
}